<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMOyHRq4n0pRb3oN1fZPGGB-woVN3Zr7E</string>
	<key>GCM_SENDER_ID</key>
	<string>408809360377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eraasoft.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-15116</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-15116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408809360377:ios:c692329d89b30232f94b28</string>
</dict>
</plist>